.error {
	margin: 100px 0 200px;
	text-align: center;
}

.error h1 {
	font-size: 3rem;
	color: rgba(255, 0, 0, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
}

.error h1 svg {
	margin-right: 1rem;
}
