@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	font-family: "Poppins", sans-serif;
	line-height: 1.8;
}

a {
	text-decoration: none;
	color: steelblue;
}

p {
	margin: 10px 0;
}

h1 {
	margin-bottom: 20px;
}

.btn {
	display: inline-block;
	background: #663399;
	color: #fff;
	padding: 10px 20px;
	cursor: pointer;
	border: 0;
	border-radius: 5px;
	opacity: 0.8;
}

.btn:hover {
	opacity: 1;
}

.btn-secondary {
	font: inherit;
	font-size: 13px;
	background: #000;
	color: #fff !important;
	border: 0;
	border-radius: 5px;
	padding: 8px 15px;
	margin: 0 20px;
	cursor: pointer;
}
.btn-primary {
	font: inherit;
	font-size: 20px;
	background: #4285f4;
	color: #fff !important;
	border: 0;
	border-radius: 5px;
	padding: 12px 15px;
	margin: 0 20px;
	cursor: pointer;
}

:is(.btn-secondary, .btn-primary):hover {
	opacity: 0.8;
}

.btn-icon {
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-icon svg {
	margin-right: 5px;
}
